@import "./_shared.scss";

section.form_section {
  // background-color: tint-color($gra);
  background-color: tint-color($prime, 75%);
  & > div.container {
    height: 95vh;
    max-width: 810px;
  }
}


@keyframes reveal {
  0%{
    visibility: hidden;
  opacity: 0;
  }
 100%{
    visibility: visible;
  opacity: 1;
  }
}

.reveal{
  animation-name: reveal ;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}


