@import "../shared";
div.overlay {
  // -webkit-backdrop-filter: blur(5px);
  // backdrop-filter: blur(5px);
  background-color: rgb(251 249 246 / 64%);
  z-index: 5;
  div.holder {
    width: 85%;
    background-color: white;
  }
}
