div.bordered_TC_2 {
  div.title {
    position: absolute;
    top: 0%;
    padding: 0px 5px;
    background-color: white;
    
    &.middle{
      left: 50%;

    }
    &.left{
      left: 15%;

    }
  }
}
